
body,
html {
    margin: 0;
    padding: 0;
    color: #222;
    background: #fff;
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑", "PingFang SC",Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-width: 1200px;
    overflow-x: hidden;
    min-height: 100%;
}



@media screen and (max-width: 1200px)  {
    html {
        overflow-x: auto;
    }
}

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
object,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
ul li,
var {
    margin: 0;
    padding: 0;
}

address,
cite,
dfn,
em,
i,
var {
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

a {
    background: 0 0;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

:focus {
    outline: 0;
}

[v-cloak] {
    display: none;
}
input {
    outline: none;
    -webkit-appearance: none; }

input[type=button] {
    -webkit-appearance: none;
    outline: none;
    //通用
      resize: none;
    -webkit-appearance: none;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    -webkit-appearance: none;
    }

.infoInput {
    resize: none;
    -webkit-appearance: none;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    -webkit-appearance: none;
}
//取消a 点击效果(高亮)
a,a:hover,a:active,a:visited,a:link,a:focus{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  outline:none;
//  background: inherit;
  text-decoration: none;
    color: inherit;
}